@import url("https://fonts.googleapis.com/css?family=Stardos+Stencil&display=swap");
*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

html {
  height: 100%; }

body {
  height: auto;
  font-size: 16px;
  background-size: cover;
  background-image: url("../media/bg.jpg"); }

h1 {
  color: white;
  text-align: center;
  font-family: "Stardos Stencil", cursive; }

#main {
  width: 600px;
  margin: 100px auto 0 auto;
  background-color: rgba(255, 255, 255, 0.15);
  padding: 25px;
  box-shadow: 0px 15px 16px -6px rgba(0, 0, 0, 0.75);
  border-radius: 3px; }

ul {
  text-align: center; }

#todo-list-container {
  overflow-y: auto;
  height: 400px; }
  #todo-list-container li:nth-child(even) {
    background: #d3d3d3; }
  #todo-list-container li {
    margin-bottom: 5px;
    cursor: pointer; }
    #todo-list-container li:hover {
      background: #ff7a7a; }

#new-todo-input {
  width: 440px;
  position: relative;
  display: inline-block;
  margin-bottom: 25px; }

#submit-new-todo-btn {
  float: right;
  width: 90px; }

#reset-storage-button {
  position: absolute;
  top: 0;
  right: 0;
  margin: 25px; }

@media (max-width: 45em) {
  #main {
    width: 95%; }
  #todo-list-container {
    height: 55vh; }
  #new-todo-input {
    width: 100%;
    display: block;
    margin-bottom: 10px; }
  #submit-new-todo-btn {
    display: grid;
    justify-self: center;
    width: 130px;
    margin: 0 auto 10px auto;
    float: unset;
    text-align: center; } }
