// Colors
$even-todo: #d3d3d3;
$hover-todo: #ff7a7a;


// Fonts
@import url('https://fonts.googleapis.com/css?family=Stardos+Stencil&display=swap');

$ff-Stencil: 'Stardos Stencil', cursive;


// media query: @include mediaQ{ ... }
@mixin mediaQ($width: 45em){ //720px
  @media(max-width: $width){
      @content;
  }
}


