*, *::before, *::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0
}  


body{
    font-size: 16px;
    background-image: url('../media/bg.jpg');
    background-color: #747474;
    background-size: cover;
}

h1{
  color: $light-green;
  text-align: center;
  font-family: $ff-Stencil;
}

