#main{
  width: 600px;
  margin: 100px auto 0 auto;
  background-color: rgba(255, 255, 255, 0.15);
  padding: 25px;
  box-shadow: 2px 2px 5px black;
  border-radius: 3px;
}


ul{
  text-align: center;
}

#todo-list-container{
  overflow-y: auto;
  height: 400px;

  li:nth-child(even){
    background: $even-todo;
  }

  li{
    margin-bottom: 5px;
    cursor: pointer;
    &:hover{
      background: $hover-todo;
    }
  }

}


// INPUT - SUBMIT BUTTON - STORAGE BUTTON
#new-todo-input {
  width: 440px;
  position: relative;
  display: inline-block;
  margin-bottom: 25px;
}

#submit-new-todo-btn{
  float: right;
  width: 90px;
}

#reset-storage-button{
  position: absolute;
  top: 0; right: 0;
  margin: 25px;
}



